/* .login{
    background-color:#F8FAFB ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .create-account{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
} */

/* .sign-in{
    margin-left: 8px;
} */