/* .post{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:8px
} */

/* .header-post{
    display: flex;
    justify-content: space-between;
    width: 100%;
} */

/* .header-post-actions{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
} */

/* .post-user-data{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    position: relative;
} */

/* .post-username-n-visibility{
    display: flex;
    gap: 4px;
    align-items: center;
} */
/* .post-avatar{
  width: 32px; 
  height: 32px;
  border-radius: 8px;
  object-fit: cover;
} */

/* .post-image-div{
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
} */

/* .post-image{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
} */

/* .post-action-icons{
    display: flex;
    gap: 8px;
} */


/* .post-caption{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.like-icon-filled{
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    color: var(--red-400);
}

.save-icon-filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    color: var(--grey-700)
}