/* .profile-tabs-container{

    list-style-type: none;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid var(--grey-100); 
    margin-bottom: 16px;
    box-sizing: border-box;
    padding-bottom: 4px;
    justify-content: space-evenly;
} */

/* .profile-tab-elem{
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-700);
    padding: 8px 32px 8px 32px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
} */

/* .profile-tab-elem-selected{

    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #021950;
    position: absolute;
    bottom: -4px;
} */

/* .profile-tab-elem:hover{
    background-color: var(--violet-100);
} */